<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>document</title>
</head>
<body>
    <h1><span id="pur">codex-x</span> utility site</h1>
    <%=  %> 
    <form method="post" action="/auth" id="form">
        <h3>enter <span id="pur">password</span> <%= %>  </h3>
        <input id="pass" name="pass" type="password">
        <button>Login</button>
    </form>
    <a style="position: absolute; bottom:0px; right: 0px; margin: 5px;" href="https://www.shark-core.com">MADE BY SHARK-CORE&#x2122 SOFTWARE</a>
</body>
</html>