<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styleHome.css">
    <title>utilities</title>
</head>
<body>
    <audio src="real"></audio>
    <h1>Functions</h1>
    <button id="btn1">flashing screen</button> <br>
    <button id="btn2">cookie clicker</button> <br>
    <button id="btn3">copy walter white's confession to clipboard | random test string</button>
    <div id="cookie">
        <div id="real">
            <h3 id="displayCookie">Cookies: 0</h3>
            <img id="clicker" src="cookie.png" alt="">
        </div>
        
    </div>
    <h3 id="logout">log out</h3>
    <script src="functions.js"></script>
</body>
</html>