#buttons{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
    position: relative;
    min-height: 120px;
    user-select: none;
    transition: 0.15s;
    margin: 6px;
    border-radius: 10px;
    border: rgb(33, 33, 33) solid 1px;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.item:hover{
    background-color: rgba(255, 255, 255, 0.057);
}

.item h3{
    font-family: 'Poppins';
    margin: 0;
}

.item p{
    font-family: 'Poppins';
    margin: 0;
}

#icon{
    border-radius: 100%;
    border: rgb(48, 48, 48) solid 2px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    width: 40px;
    height: 40px;
}

body{
    background-size: 100%;
    font-family: 'Inconsolata', monospace;
    color: rgb(0, 255, 0);
    background-color: rgb(19, 19, 19);
}

#pur{
    color: purple;
}

h1{
    color: purple;
}

button{
    font-family: 'Inconsolata', monospace;
    margin-top: 10px;
    padding: 5px;
    border: rgb(0, 255, 0) solid 2px;
    background-color: transparent;
    color: rgb(0, 255, 0);
}

button:hover{
    color: green;
    border: green solid 2px;
}

#cookie {
    padding: 0px;
    visibility: hidden;
    border: purple solid 2px;
    background-color: rgb(11, 11, 11);
    color: rgb(0, 255, 0);
    position:fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
}

#clicker{
    transition: all 0.1s cubic-bezier(0.66, 0.09, 0.43, 1.53);
    width: 125px;
    height: 125px;
}

#cookie h3{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: purple;
    font-size: 30px;
    margin: 0;
}

#real{
    position: relative;
    height: 100%;
    width: 100%;
}

#clickerDiv{
    position: relative;
    width: 50%;
    height: 100%;
    border-right: purple solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cookieMenu{
    position: absolute;
    left: 50%;
    top: 0px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#selectUp{
    display: flex;
    overflow-x: scroll;
    width: 90%;
    height: 60px;
    background-color: rgb(11, 11, 11);
    border-radius: 10px;
}

.selection{
    user-select: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.42);
}

.selection:hover{
    background-color: rgb(20, 30, 41);
}

#logout{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    color: rgb(0, 255, 0);
    font-family: 'Inconsolata', monospace;
    text-decoration: rgb(0, 255, 0) underline solid;
}

#logout:hover{
    cursor: pointer;
}

#calculator{
    visibility: hidden;
    position:fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: black;
    border: rgb(0, 255, 0) 2px solid;
    padding: 25px;
}


#calculator #math{
    background-color: transparent;
    color: rgb(26, 255, 0);
    border: rgb(0, 255, 0) 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
    outline: none;
}

#btnMath{
    border: rgb(0, 255, 0) solid 2px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    height: 100%;
}

#musicBoard{
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
    position:fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;
    border: black 2px solid;
    border-radius: 10px;
    background-color: rgb(19, 19, 19);
}

.mar{
    margin: 10px;
}

#musicPlayer{
    display: flex;
    align-items: center;
    background-color: rgb(2, 2, 2);
    padding: 10px;
}

#clicker:active{
    width: 100px;
    height: 100px;
}



/* width */
::-webkit-scrollbar {
  background-color: hsl(235, 24%, 19%);
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: hsla(235, 21%, 11%, 0.322);
  box-shadow: 0 0 3px hsl(235, 21%, 11%);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: hsl(235, 21%, 11%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(220, 98%, 61%);
}

#exitCookie{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

#encryptDiv{
    width: 80vw;
    height: 80vh;
    position:fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(8, 8, 8);
    visibility: hidden;
}

#draw{
    position:fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: white;
    visibility: hidden;
}

#stopwatch{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background-color: rgb(27, 27, 27);
    flex-direction: column;
    border-radius: 10px;
}